{{- $image := .image }}
{{- $awards := .awards }}

{{- $full := partial "urls/image.html" (dict "challenge_id" $image.challenge_id "image_id" $image.id "width" 1200) }}
{{- $thumb := partial "urls/image.html" (dict "challenge_id" $image.challenge_id "image_id" $image.id "width" 120) }}
{{- $image_page := partial "urls/pages.html" (dict "kind" "image" "id" $image.id) }}
{{- $member_page := partial "urls/pages.html" (dict "kind" "member" "id" $image.photographer_id) }}
{{- $challenge_page := partial "urls/pages.html" (dict "kind" "challenge" "id" $image.challenge_id) }}

{{- $ext := "<i class='fa fa-external-link-alt' style='font-size:12px'></i>" }}

{{- $badges := slice }}
{{- range $image.awards }}
    {{- with index $awards . }}
        {{- $url := (printf "awarders/%s/%s" .awarder_slug .slug) | absURL }}
        {{- $badges = $badges | append (printf "<a href='%s'>%s</a>" $url (.name | title)) }}
    {{- end }}
{{- end }}

{{- $parts := slice
        (printf "<a href='%s'>%s %s</a>" $image_page ($image.title | htmlUnescape) $ext)
        (printf "<a href='%s'>%s %s</a>" $member_page ($image.photographer_name | htmlUnescape) $ext)
        (printf "<a href='%s'>%s %s</a>" $challenge_page ($image.challenge_name | htmlUnescape) $ext)
        (delimit $badges " &middot; ") }}
{{- $caption := delimit $parts " &middot; " }}

<div class="column is-2">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <figure class="image is-3by2">
                    <a href="{{ $full }}" class="fresco" data-fresco-group="dpc" data-fresco-caption="{{ $caption }}">
                        <img src="{{ $thumb }}" loading="lazy" alt="{{ $image.title }}">
                    </a>
                </figure>
            </div>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item" href="{{ $member_page }}">
                {{ $image.photographer_name | htmlUnescape }}&nbsp;<i class="fa fa-external-link-alt" style="font-size:12px"></i>
            </a>
        </footer>
    </div>
</div>
