<div class="columns is-multiline">
    <div class="column is-8 is-offset-2">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ .thumb }}" alt="{{ .name }}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">
                            {{ .name }}
                        </p>
                        <p class="subtitle is-6">
                            {{ .stats | markdownify }}
                        </p>
                        <p class="subtitle is-6">
                            {{ if len .description }}
                                {{ .description }}
                            {{ else }}
                                &nbsp;
                            {{ end}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>&nbsp;</p>
