{{ $external := "<i class='fa fa-external-link-alt' style='font-size:12px'></i>" }}
{{ $image_caption := printf "<a href='%s'> %s %s </i></a>" .image_webpage (.image_title | htmlUnescape) $external}}
{{ $user_caption := printf "<a href='%s'> %s %s </i></a>" .user_webpage (.user_name| htmlUnescape) $external}}
{{ $challenge_caption := printf "<a href='%s'> %s %s </i></a>" .challenge_webpage (.challenge_name| htmlUnescape) $external}}
{{ $blings := delimit .awards " &middot; " }}

{{ $caption := printf "%s &middot; %s &middot; %s &middot; %s" $image_caption $user_caption $challenge_caption $blings }}

<div class="column is-2">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <figure class="image is-3by2">
                    <a href="{{ .image_url }}" class="fresco" data-fresco-group="dpc"
                        data-fresco-caption="{{ $caption }}">
                        <img src="{{ .image_thumb_url }}" loading="lazy" alt="{{ .name }}">
                    </a>
                </figure>
            </div>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item" href='{{ .user_webpage }}'>{{ .user_name | htmlUnescape }}&nbsp;<i
                    class="fa fa-external-link-alt" style="font-size:12px"></i></a>
        </footer>
    </div>
</div>