{{ $all_awards := .all_awards }}
{{ $image := .image }}

{{ $external := "<i class='fa fa-external-link-alt' style='font-size:12px'></i>" }}
{{ $image_caption := printf "<a href='%s'> %s %s </i></a>" $image.image_webpage ($image.image_title | htmlUnescape) $external}}
{{ $user_caption := printf "<a href='%s'> %s %s </i></a>" $image.user_webpage ($image.user_name| htmlUnescape) $external}}
{{ $challenge_caption := printf "<a href='%s'> %s %s </i></a>" $image.challenge_webpage ($image.challenge_name| htmlUnescape) $external}}

{{ $blings := slice }}
{{ range $image.awards }}
{{ $award := index $all_awards (printf "%s" . ) }}
{{ $award_url := (printf "awarders/%s/%s" $award.awarder_slug $award.slug) | absURL }}
{{ $award_link := printf "<a href='%s'>%s</a>" $award_url ($award.name | title) }}
{{ $blings = $blings | append $award_link }}
{{ end }}
{{ $blings := delimit $blings " &middot; " }}

{{ $caption := printf "%s &middot; %s &middot; %s &middot; %s" $image_caption $user_caption $challenge_caption $blings }}

<div class="column is-2">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <figure class="image is-3by2">
                    <a href="{{ $image.image_url }}" class="fresco" data-fresco-group="dpc"
                        data-fresco-caption="{{ $caption }}">
                        <img src="{{ $image.image_thumb_url }}" loading="lazy" alt="{{ $blings }}">
                    </a>
                </figure>
            </div>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item" href='{{ $image.user_webpage }}'>{{ $image.user_name | htmlUnescape }}&nbsp;<i
                    class="fa fa-external-link-alt" style="font-size:12px"></i></a>
        </footer>
    </div>
</div>