{{ $users := .users }}

<div class="columns is-multiline is-centered">
    {{ range .user_ids }}
    {{ $user_id := printf "%d" . }}
    {{ $user := index $users $user_id }}
    <div class="column is-2">
        <div class="card equal-height">
            <header class="card-header">
                <a class="card-header-title card-header-item" href='./{{ $user.user_slug }}'>
                    {{ $user.user_name }}
                </a>
            </header>
            <div class="card-content">
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <a href="./{{ $user.user_slug }}">
                            <figure class="image is-3-by-2">
                                <img src="{{ $user.user_thumb }}" alt="{{ $user.user_thumb }}" loading="lazy">
                            </figure>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    {{ end }}
</div>
