{{ define "main" }}

<!-- COLLECTION LIST -->

{{ $awarder_slug := printf "%s" .Page.Params.awarder_slug}}
{{ $award_slug := printf "%s" .Page.Params.award_slug}}

{{ $award := index .Site.Data.collections.awards_meta $award_slug }}

<div class="columns is-multiline">
    <div class="column is-8 is-offset-2">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ $award.thumb }}" alt="{{ $award.name }}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">
                            {{ $award.name }}
                        </p>
                        <p class="subtitle is-6">{{ $award.num_distinct_recipients }} awarded this award in
                            {{ $award.num_distinct_challenges }} challenges.
                        </p>
                        <p>
                            {{ $award.description | markdownify }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>&nbsp;</p>

{{ $image_ids := index .Site.Data.collections.awards $award_slug }}
{{ $images := $.Site.Data.collections.images }}

{{ partial "gallery_from_image_id.html" (dict "image_ids" $image_ids "images" $images) }}

{{ end }}
