{{ define "main" }}
{{- $recipient := .Params.recipient }}
{{- partial "gallery_header.html" (dict
    "thumb" (partial "urls/member_thumb.html" (dict "member_id" $recipient.id))
    "name" $recipient.name
    "stats" (printf "%d awards (%d distinct) across %d challenges"
              (int $recipient.num_granted) (int $recipient.num_awards) (int $recipient.num_challenges))
    "description" "") }}
{{- partial "award_tags.html" (dict "award_counts" $recipient.award_counts) }}
<p>&nbsp;</p>
{{- partial "gallery.html" (dict "image_ids" $recipient.image_ids) }}
{{ end }}
