{{ define "main" }}

{{ $all_awards := .Site.Data.collections.awards_meta }}
{{ $all_images := .Site.Data.collections.images }}

{{ partial "gallery_header.html" (dict "thumb" .Page.Params.thumb "name" .Page.Params.name "description" (partial "recipient_tags.html" (dict "award_counts" .Page.Params.award_counts "all_awards" $all_awards)) "stats" .Page.Params.stats) }}

<p>&nbsp;</p>

{{ partial "gallery_from_image_id.html" (dict "image_ids" .Page.Params.image_ids "all_images" $all_images "extra" "" "all_awards" $all_awards) }}

{{ end }}
