{{ define "main" }}

<!-- CHALLENGE LIST  -->

{{ $challenges := .Page.Params.challenges }}

{{ $all_awards := .Site.Data.collections.awards_meta }}

<div class="columns is-multiline">
    <div class="column is-8 is-offset-2 has-text-centered">
        <p class="title is-1">
            {{ .Title }}
        </p>
    </div>
</div>

<div class="columns is-multiline">
    <div class="column has-text-centered">
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Awards</td>
                </tr>
            </thead>
            {{ range $challenges }}
            <tr>
                <td><a href="./{{ .slug }}">{{ .name }}</a></td>
                <td>
                    <div class="field is-grouped is-grouped-multiline is-centered is-hcentred">
                    {{ (partial "recipient_tags.html" (dict "award_counts" .award_counts "all_awards" $all_awards)) }}
                    </div>
                </td>
            </tr>
            {{ end }}
        </table>
    </div>
</div>

{{ end }}