{{ define "main" }}

{{ $awarder_slug := printf "%s" .Page.Params.awarder_slug}}
{{ $award_slug := printf "%s" .Page.Params.award_slug}}

{{ $award := index .Site.Data.collections.awards_meta $award_slug }}

{{ $stats := printf "%d users awarded this award over %d challenges." $award.num_distinct_recipients $award.num_distinct_challenges}}

{{ partial "gallery_header.html" (dict "thumb" $award.thumb "name" $award.name "stats" $stats "description" ($award.description|markdownify)) }}

<p>&nbsp;</p>

{{ $image_ids := index .Site.Data.collections.awards $award_slug }}
{{ $images := $.Site.Data.collections.images }}

{{ partial "gallery_from_image_id.html" (dict "image_ids" $image_ids "images" $images) }}

{{ end }}